.completed {
    text-decoration: line-through;
}

.secondary-content a {
    margin: 0 0.5em;
}

.complete-task {
    color: darkgreen;
}

.incomplete-task {
    color: #b21010;
}

i {
    cursor: pointer;
}

.center-button {
    text-align: center;
}

.input-field {
    margin: 0 auto;
    width: 75%;
}